/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/08/2016, 15:54:11
    Author     : geovanni.info
*/

.dev-page {
  width: 100%;
  height: 100%;
  min-height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  visibility: visible !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container .wrapper {
  padding: 30px 30px 20px;
  float: left;
  width: 100%;
}
.container .wrapper-white {
  background: #FFF;
  border-top:1px solid #eef1f7;	
  border-bottom:1px solid #eef1f7;	

}

